.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

    img {
        display: block;
        max-width: 100%;
        height: 5vh;
        min-height: 50px;
    }
}